/* Banner */
.banner {
    height: 890px;
    background-image: url('gym_images/gym_banner.jpg');
    background-size: 100%;
}

.banner_name {
    position: absolute;
    top: 399px;
    left: 144px;
    color: white;
    font-size: 160px;
    /* border: 2px solid red; */
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 112px;
    padding-right: 280px;
    padding-bottom: 25px;
    line-height: 160px;
    background-color: rgb(9 36 40 / 61%);
    font-family: 'Russo One', sans-serif;
}

.banner_name div {
    color: white;
    font-size: 30px;
    width: 41%;
    margin: 0px auto;
    padding-left: 27px;
    line-height: 30px;
    font-family: 'Quicksand', sans-serif;
}

.banner_name span {
    color: rgb(255, 94, 0);
}
